version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: sachinthalk/autonova-frontend-v1:local
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
